/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.table thead tr th {
  border-width: 0.5px;
  border-color: gray;
  border-style: solid;
  padding: 8px;
}
.head{
  color: white;
  background-color: rgb(70, 142, 209);
}
.subHead{
  background-color: rgb(128, 172, 223);
}
.table {
  width: 100vw;
  border-width: 0px;
  text-align: center;
  border-style: solid;
  margin: auto;
  align-items: center;
  justify-content: center;
}
